@import 'reset.scss';

$background-left: #F92E47;
$background-right: #3F283D;
$white: #FFF;
$button-background: #982292;
$faded-background: rgba(255,255,255,0.4);
$number-font: 'Arvo', serif;

@mixin light-font {
  font-family: 'Arvo', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

body {
  @include light-font;
}

#application {
  background: linear-gradient(
    to right,
    $background-left 50%,
    $background-right 50%
  );
  height: 100vh;
}

h3 {
    position: relative;
    top: 25vh;
    font-weight: 100;
    font-size: 30px;
    color: $white;
    text-align: center;
}

h3.min-max-text {
  color: $background-right;
  margin-left: 8%;
  top: 14vh;
}

h3.last-guess-text {
  color: $background-left;
  margin-right: 8%;
}

button {
    position: relative;
    padding: 17px;
    font-size: 0.8em;
    border-radius: 2px;
    outline: none;
    border: none;
    background: $background-right;
    color: white;
    margin: 10px 7px;
    width: 100px;
    @include light-font;
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    }
    &:disabled {
      background: $background-right;
      color: $white;
      cursor: auto;
      box-shadow: none;
    }
}

.right-container {
  float: right;
  width: 45%;
  height: 100vh;
}

.left-container {
  float: left;
  width: 45%;
  height: 100vh;
}

.number-guess {
  color: $white;
  font-family: $number-font;
  font-size: 10em;
  font-weight: 700;
  margin-right: 8%;
  position: relative;
  top: 32vh;
  text-align: center;
}

.buttons {
  position: relative;
  margin-top: 37vh;
  margin-left: 6%;
  text-align: center;
}

.GuessButton {
  display: block;
  margin: 0 auto;
}

.submit-max-min-button {
  margin: 0;
  padding: 11px;
  margin-top: 34px;
}

.message-text {
  color: $background-left;
  font-size: 1.3em;
  position: relative;
  top: 39vh;
  text-align: center;
  margin-right: 8%;
}

.custom-max-min {
  text-align: center;
}

input {
  font-family: $number-font;
  padding: 10px;
  border: 1px solid #CCC;
  outline: none;
  margin: 5px;
}

.guess-input-field {
  font-size: 1em;
  float: left;
  position: relative;
  top: 23vh;
  margin-left: 28%;
  width: 45%;
  height: 33px;
}
